<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.Dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.house.Bean.Room">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Listing_id" jdbcType="VARCHAR" property="listingId" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="status_date" jdbcType="TIMESTAMP" property="statusDate" />
    <result column="contract_id" jdbcType="INTEGER" property="contractId" />
    <result column="pricing" jdbcType="VARCHAR" property="pricing" />
    <result column="business" jdbcType="VARCHAR" property="business" />
    <result column="pay_room_price" jdbcType="DECIMAL" property="payRoomPrice" />
    <result column="diposit" jdbcType="VARCHAR" property="diposit" />
    <result column="service_price" jdbcType="DECIMAL" property="servicePrice" />
    <result column="payment_style" jdbcType="VARCHAR" property="paymentStyle" />
    <result column="tenant_name" jdbcType="VARCHAR" property="tenantName" />
    <result column="tenant_phone" jdbcType="VARCHAR" property="tenantPhone" />
    <result column="tenant_card" jdbcType="VARCHAR" property="tenantCard" />
    <result column="tenant_sex" jdbcType="VARCHAR" property="tenantSex" />
    <result column="tenant_im_name" jdbcType="VARCHAR" property="tenantImName" />
    <result column="tenant_im_phone" jdbcType="VARCHAR" property="tenantImPhone" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="arrears" jdbcType="VARCHAR" property="arrears" />
    <result column="arrears_end_time" jdbcType="TIMESTAMP" property="arrearsEndTime" />
    <result column="contract_type" jdbcType="VARCHAR" property="contractType" />
    <result column="Uni_bath" jdbcType="VARCHAR" property="uniBath" />
    <result column="Uni_balcony" jdbcType="VARCHAR" property="uniBalcony" />
    <result column="Transfer_base_water" jdbcType="VARCHAR" property="transferBaseWater" />
    <result column="Transfer_base_electricity" jdbcType="VARCHAR" property="transferBaseElectricity" />
    <result column="Transfer_base_gas" jdbcType="VARCHAR" property="transferBaseGas" />
    <result column="Transfer_base_ele_high" jdbcType="VARCHAR" property="transferBaseEleHigh" />
    <result column="Transfer_base_ele_low" jdbcType="VARCHAR" property="transferBaseEleLow" />
    <result column="Transfer_base_ele_form" jdbcType="VARCHAR" property="transferBaseEleForm" />
    <result column="Listing_config" jdbcType="VARCHAR" property="listingConfig" />
    <result column="contract_note" jdbcType="VARCHAR" property="contractNote" />
    <result column="room_note" jdbcType="VARCHAR" property="roomNote" />
    <result column="finance_note" jdbcType="VARCHAR" property="financeNote" />
    <result column="payment_plan" jdbcType="VARCHAR" property="paymentPlan" />
    <result column="tenant_pic" jdbcType="VARCHAR" property="tenantPic" />
    <result column="acreage" jdbcType="VARCHAR" property="acreage" />
    <result column="face" jdbcType="VARCHAR" property="face" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, Listing_id, room_id, status, status_date, contract_id, pricing, business, pay_room_price, 
    diposit, service_price, payment_style, tenant_name, tenant_phone, tenant_card, tenant_sex, 
    tenant_im_name, tenant_im_phone, start_time, end_time, arrears, arrears_end_time, 
    contract_type, Uni_bath, Uni_balcony, Transfer_base_water, Transfer_base_electricity, 
    Transfer_base_gas, Transfer_base_ele_high, Transfer_base_ele_low, Transfer_base_ele_form, 
    Listing_config, contract_note, room_note, finance_note, payment_plan, tenant_pic, 
    acreage, face
  </sql>
  <select id="selectByExample" parameterType="com.house.Bean.RoomExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.house.Bean.RoomExample">
    delete from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.house.Bean.Room">
    insert into room (id, Listing_id, room_id, 
      status, status_date, contract_id, 
      pricing, business, pay_room_price, 
      diposit, service_price, payment_style, 
      tenant_name, tenant_phone, tenant_card, 
      tenant_sex, tenant_im_name, tenant_im_phone, 
      start_time, end_time, arrears, 
      arrears_end_time, contract_type, Uni_bath, 
      Uni_balcony, Transfer_base_water, Transfer_base_electricity, 
      Transfer_base_gas, Transfer_base_ele_high, Transfer_base_ele_low, 
      Transfer_base_ele_form, Listing_config, contract_note, 
      room_note, finance_note, payment_plan, 
      tenant_pic, acreage, face
      )
    values (#{id,jdbcType=INTEGER}, #{listingId,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{statusDate,jdbcType=TIMESTAMP}, #{contractId,jdbcType=INTEGER}, 
      #{pricing,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, #{payRoomPrice,jdbcType=DECIMAL}, 
      #{diposit,jdbcType=VARCHAR}, #{servicePrice,jdbcType=DECIMAL}, #{paymentStyle,jdbcType=VARCHAR}, 
      #{tenantName,jdbcType=VARCHAR}, #{tenantPhone,jdbcType=VARCHAR}, #{tenantCard,jdbcType=VARCHAR}, 
      #{tenantSex,jdbcType=VARCHAR}, #{tenantImName,jdbcType=VARCHAR}, #{tenantImPhone,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{arrears,jdbcType=VARCHAR}, 
      #{arrearsEndTime,jdbcType=TIMESTAMP}, #{contractType,jdbcType=VARCHAR}, #{uniBath,jdbcType=VARCHAR}, 
      #{uniBalcony,jdbcType=VARCHAR}, #{transferBaseWater,jdbcType=VARCHAR}, #{transferBaseElectricity,jdbcType=VARCHAR}, 
      #{transferBaseGas,jdbcType=VARCHAR}, #{transferBaseEleHigh,jdbcType=VARCHAR}, #{transferBaseEleLow,jdbcType=VARCHAR}, 
      #{transferBaseEleForm,jdbcType=VARCHAR}, #{listingConfig,jdbcType=VARCHAR}, #{contractNote,jdbcType=VARCHAR}, 
      #{roomNote,jdbcType=VARCHAR}, #{financeNote,jdbcType=VARCHAR}, #{paymentPlan,jdbcType=VARCHAR}, 
      #{tenantPic,jdbcType=VARCHAR}, #{acreage,jdbcType=VARCHAR}, #{face,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.house.Bean.Room">
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="listingId != null">
        Listing_id,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="statusDate != null">
        status_date,
      </if>
      <if test="contractId != null">
        contract_id,
      </if>
      <if test="pricing != null">
        pricing,
      </if>
      <if test="business != null">
        business,
      </if>
      <if test="payRoomPrice != null">
        pay_room_price,
      </if>
      <if test="diposit != null">
        diposit,
      </if>
      <if test="servicePrice != null">
        service_price,
      </if>
      <if test="paymentStyle != null">
        payment_style,
      </if>
      <if test="tenantName != null">
        tenant_name,
      </if>
      <if test="tenantPhone != null">
        tenant_phone,
      </if>
      <if test="tenantCard != null">
        tenant_card,
      </if>
      <if test="tenantSex != null">
        tenant_sex,
      </if>
      <if test="tenantImName != null">
        tenant_im_name,
      </if>
      <if test="tenantImPhone != null">
        tenant_im_phone,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="arrears != null">
        arrears,
      </if>
      <if test="arrearsEndTime != null">
        arrears_end_time,
      </if>
      <if test="contractType != null">
        contract_type,
      </if>
      <if test="uniBath != null">
        Uni_bath,
      </if>
      <if test="uniBalcony != null">
        Uni_balcony,
      </if>
      <if test="transferBaseWater != null">
        Transfer_base_water,
      </if>
      <if test="transferBaseElectricity != null">
        Transfer_base_electricity,
      </if>
      <if test="transferBaseGas != null">
        Transfer_base_gas,
      </if>
      <if test="transferBaseEleHigh != null">
        Transfer_base_ele_high,
      </if>
      <if test="transferBaseEleLow != null">
        Transfer_base_ele_low,
      </if>
      <if test="transferBaseEleForm != null">
        Transfer_base_ele_form,
      </if>
      <if test="listingConfig != null">
        Listing_config,
      </if>
      <if test="contractNote != null">
        contract_note,
      </if>
      <if test="roomNote != null">
        room_note,
      </if>
      <if test="financeNote != null">
        finance_note,
      </if>
      <if test="paymentPlan != null">
        payment_plan,
      </if>
      <if test="tenantPic != null">
        tenant_pic,
      </if>
      <if test="acreage != null">
        acreage,
      </if>
      <if test="face != null">
        face,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="listingId != null">
        #{listingId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
        #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractId != null">
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="pricing != null">
        #{pricing,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        #{business,jdbcType=VARCHAR},
      </if>
      <if test="payRoomPrice != null">
        #{payRoomPrice,jdbcType=DECIMAL},
      </if>
      <if test="diposit != null">
        #{diposit,jdbcType=VARCHAR},
      </if>
      <if test="servicePrice != null">
        #{servicePrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentStyle != null">
        #{paymentStyle,jdbcType=VARCHAR},
      </if>
      <if test="tenantName != null">
        #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="tenantPhone != null">
        #{tenantPhone,jdbcType=VARCHAR},
      </if>
      <if test="tenantCard != null">
        #{tenantCard,jdbcType=VARCHAR},
      </if>
      <if test="tenantSex != null">
        #{tenantSex,jdbcType=VARCHAR},
      </if>
      <if test="tenantImName != null">
        #{tenantImName,jdbcType=VARCHAR},
      </if>
      <if test="tenantImPhone != null">
        #{tenantImPhone,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrears != null">
        #{arrears,jdbcType=VARCHAR},
      </if>
      <if test="arrearsEndTime != null">
        #{arrearsEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractType != null">
        #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="uniBath != null">
        #{uniBath,jdbcType=VARCHAR},
      </if>
      <if test="uniBalcony != null">
        #{uniBalcony,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseWater != null">
        #{transferBaseWater,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseElectricity != null">
        #{transferBaseElectricity,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseGas != null">
        #{transferBaseGas,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseEleHigh != null">
        #{transferBaseEleHigh,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseEleLow != null">
        #{transferBaseEleLow,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseEleForm != null">
        #{transferBaseEleForm,jdbcType=VARCHAR},
      </if>
      <if test="listingConfig != null">
        #{listingConfig,jdbcType=VARCHAR},
      </if>
      <if test="contractNote != null">
        #{contractNote,jdbcType=VARCHAR},
      </if>
      <if test="roomNote != null">
        #{roomNote,jdbcType=VARCHAR},
      </if>
      <if test="financeNote != null">
        #{financeNote,jdbcType=VARCHAR},
      </if>
      <if test="paymentPlan != null">
        #{paymentPlan,jdbcType=VARCHAR},
      </if>
      <if test="tenantPic != null">
        #{tenantPic,jdbcType=VARCHAR},
      </if>
      <if test="acreage != null">
        #{acreage,jdbcType=VARCHAR},
      </if>
      <if test="face != null">
        #{face,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.house.Bean.RoomExample" resultType="java.lang.Long">
    select count(*) from room
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.listingId != null">
        Listing_id = #{record.listingId,jdbcType=VARCHAR},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.statusDate != null">
        status_date = #{record.statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractId != null">
        contract_id = #{record.contractId,jdbcType=INTEGER},
      </if>
      <if test="record.pricing != null">
        pricing = #{record.pricing,jdbcType=VARCHAR},
      </if>
      <if test="record.business != null">
        business = #{record.business,jdbcType=VARCHAR},
      </if>
      <if test="record.payRoomPrice != null">
        pay_room_price = #{record.payRoomPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.diposit != null">
        diposit = #{record.diposit,jdbcType=VARCHAR},
      </if>
      <if test="record.servicePrice != null">
        service_price = #{record.servicePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.paymentStyle != null">
        payment_style = #{record.paymentStyle,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantName != null">
        tenant_name = #{record.tenantName,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantPhone != null">
        tenant_phone = #{record.tenantPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantCard != null">
        tenant_card = #{record.tenantCard,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantSex != null">
        tenant_sex = #{record.tenantSex,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantImName != null">
        tenant_im_name = #{record.tenantImName,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantImPhone != null">
        tenant_im_phone = #{record.tenantImPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.arrears != null">
        arrears = #{record.arrears,jdbcType=VARCHAR},
      </if>
      <if test="record.arrearsEndTime != null">
        arrears_end_time = #{record.arrearsEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.contractType != null">
        contract_type = #{record.contractType,jdbcType=VARCHAR},
      </if>
      <if test="record.uniBath != null">
        Uni_bath = #{record.uniBath,jdbcType=VARCHAR},
      </if>
      <if test="record.uniBalcony != null">
        Uni_balcony = #{record.uniBalcony,jdbcType=VARCHAR},
      </if>
      <if test="record.transferBaseWater != null">
        Transfer_base_water = #{record.transferBaseWater,jdbcType=VARCHAR},
      </if>
      <if test="record.transferBaseElectricity != null">
        Transfer_base_electricity = #{record.transferBaseElectricity,jdbcType=VARCHAR},
      </if>
      <if test="record.transferBaseGas != null">
        Transfer_base_gas = #{record.transferBaseGas,jdbcType=VARCHAR},
      </if>
      <if test="record.transferBaseEleHigh != null">
        Transfer_base_ele_high = #{record.transferBaseEleHigh,jdbcType=VARCHAR},
      </if>
      <if test="record.transferBaseEleLow != null">
        Transfer_base_ele_low = #{record.transferBaseEleLow,jdbcType=VARCHAR},
      </if>
      <if test="record.transferBaseEleForm != null">
        Transfer_base_ele_form = #{record.transferBaseEleForm,jdbcType=VARCHAR},
      </if>
      <if test="record.listingConfig != null">
        Listing_config = #{record.listingConfig,jdbcType=VARCHAR},
      </if>
      <if test="record.contractNote != null">
        contract_note = #{record.contractNote,jdbcType=VARCHAR},
      </if>
      <if test="record.roomNote != null">
        room_note = #{record.roomNote,jdbcType=VARCHAR},
      </if>
      <if test="record.financeNote != null">
        finance_note = #{record.financeNote,jdbcType=VARCHAR},
      </if>
      <if test="record.paymentPlan != null">
        payment_plan = #{record.paymentPlan,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantPic != null">
        tenant_pic = #{record.tenantPic,jdbcType=VARCHAR},
      </if>
      <if test="record.acreage != null">
        acreage = #{record.acreage,jdbcType=VARCHAR},
      </if>
      <if test="record.face != null">
        face = #{record.face,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room
    set id = #{record.id,jdbcType=INTEGER},
      Listing_id = #{record.listingId,jdbcType=VARCHAR},
      room_id = #{record.roomId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      status_date = #{record.statusDate,jdbcType=TIMESTAMP},
      contract_id = #{record.contractId,jdbcType=INTEGER},
      pricing = #{record.pricing,jdbcType=VARCHAR},
      business = #{record.business,jdbcType=VARCHAR},
      pay_room_price = #{record.payRoomPrice,jdbcType=DECIMAL},
      diposit = #{record.diposit,jdbcType=VARCHAR},
      service_price = #{record.servicePrice,jdbcType=DECIMAL},
      payment_style = #{record.paymentStyle,jdbcType=VARCHAR},
      tenant_name = #{record.tenantName,jdbcType=VARCHAR},
      tenant_phone = #{record.tenantPhone,jdbcType=VARCHAR},
      tenant_card = #{record.tenantCard,jdbcType=VARCHAR},
      tenant_sex = #{record.tenantSex,jdbcType=VARCHAR},
      tenant_im_name = #{record.tenantImName,jdbcType=VARCHAR},
      tenant_im_phone = #{record.tenantImPhone,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      arrears = #{record.arrears,jdbcType=VARCHAR},
      arrears_end_time = #{record.arrearsEndTime,jdbcType=TIMESTAMP},
      contract_type = #{record.contractType,jdbcType=VARCHAR},
      Uni_bath = #{record.uniBath,jdbcType=VARCHAR},
      Uni_balcony = #{record.uniBalcony,jdbcType=VARCHAR},
      Transfer_base_water = #{record.transferBaseWater,jdbcType=VARCHAR},
      Transfer_base_electricity = #{record.transferBaseElectricity,jdbcType=VARCHAR},
      Transfer_base_gas = #{record.transferBaseGas,jdbcType=VARCHAR},
      Transfer_base_ele_high = #{record.transferBaseEleHigh,jdbcType=VARCHAR},
      Transfer_base_ele_low = #{record.transferBaseEleLow,jdbcType=VARCHAR},
      Transfer_base_ele_form = #{record.transferBaseEleForm,jdbcType=VARCHAR},
      Listing_config = #{record.listingConfig,jdbcType=VARCHAR},
      contract_note = #{record.contractNote,jdbcType=VARCHAR},
      room_note = #{record.roomNote,jdbcType=VARCHAR},
      finance_note = #{record.financeNote,jdbcType=VARCHAR},
      payment_plan = #{record.paymentPlan,jdbcType=VARCHAR},
      tenant_pic = #{record.tenantPic,jdbcType=VARCHAR},
      acreage = #{record.acreage,jdbcType=VARCHAR},
      face = #{record.face,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.house.Bean.Room">
    update room
    <set>
      <if test="listingId != null">
        Listing_id = #{listingId,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="statusDate != null">
        status_date = #{statusDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contractId != null">
        contract_id = #{contractId,jdbcType=INTEGER},
      </if>
      <if test="pricing != null">
        pricing = #{pricing,jdbcType=VARCHAR},
      </if>
      <if test="business != null">
        business = #{business,jdbcType=VARCHAR},
      </if>
      <if test="payRoomPrice != null">
        pay_room_price = #{payRoomPrice,jdbcType=DECIMAL},
      </if>
      <if test="diposit != null">
        diposit = #{diposit,jdbcType=VARCHAR},
      </if>
      <if test="servicePrice != null">
        service_price = #{servicePrice,jdbcType=DECIMAL},
      </if>
      <if test="paymentStyle != null">
        payment_style = #{paymentStyle,jdbcType=VARCHAR},
      </if>
      <if test="tenantName != null">
        tenant_name = #{tenantName,jdbcType=VARCHAR},
      </if>
      <if test="tenantPhone != null">
        tenant_phone = #{tenantPhone,jdbcType=VARCHAR},
      </if>
      <if test="tenantCard != null">
        tenant_card = #{tenantCard,jdbcType=VARCHAR},
      </if>
      <if test="tenantSex != null">
        tenant_sex = #{tenantSex,jdbcType=VARCHAR},
      </if>
      <if test="tenantImName != null">
        tenant_im_name = #{tenantImName,jdbcType=VARCHAR},
      </if>
      <if test="tenantImPhone != null">
        tenant_im_phone = #{tenantImPhone,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="arrears != null">
        arrears = #{arrears,jdbcType=VARCHAR},
      </if>
      <if test="arrearsEndTime != null">
        arrears_end_time = #{arrearsEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="contractType != null">
        contract_type = #{contractType,jdbcType=VARCHAR},
      </if>
      <if test="uniBath != null">
        Uni_bath = #{uniBath,jdbcType=VARCHAR},
      </if>
      <if test="uniBalcony != null">
        Uni_balcony = #{uniBalcony,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseWater != null">
        Transfer_base_water = #{transferBaseWater,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseElectricity != null">
        Transfer_base_electricity = #{transferBaseElectricity,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseGas != null">
        Transfer_base_gas = #{transferBaseGas,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseEleHigh != null">
        Transfer_base_ele_high = #{transferBaseEleHigh,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseEleLow != null">
        Transfer_base_ele_low = #{transferBaseEleLow,jdbcType=VARCHAR},
      </if>
      <if test="transferBaseEleForm != null">
        Transfer_base_ele_form = #{transferBaseEleForm,jdbcType=VARCHAR},
      </if>
      <if test="listingConfig != null">
        Listing_config = #{listingConfig,jdbcType=VARCHAR},
      </if>
      <if test="contractNote != null">
        contract_note = #{contractNote,jdbcType=VARCHAR},
      </if>
      <if test="roomNote != null">
        room_note = #{roomNote,jdbcType=VARCHAR},
      </if>
      <if test="financeNote != null">
        finance_note = #{financeNote,jdbcType=VARCHAR},
      </if>
      <if test="paymentPlan != null">
        payment_plan = #{paymentPlan,jdbcType=VARCHAR},
      </if>
      <if test="tenantPic != null">
        tenant_pic = #{tenantPic,jdbcType=VARCHAR},
      </if>
      <if test="acreage != null">
        acreage = #{acreage,jdbcType=VARCHAR},
      </if>
      <if test="face != null">
        face = #{face,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.house.Bean.Room">
    update room
    set Listing_id = #{listingId,jdbcType=VARCHAR},
      room_id = #{roomId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      status_date = #{statusDate,jdbcType=TIMESTAMP},
      contract_id = #{contractId,jdbcType=INTEGER},
      pricing = #{pricing,jdbcType=VARCHAR},
      business = #{business,jdbcType=VARCHAR},
      pay_room_price = #{payRoomPrice,jdbcType=DECIMAL},
      diposit = #{diposit,jdbcType=VARCHAR},
      service_price = #{servicePrice,jdbcType=DECIMAL},
      payment_style = #{paymentStyle,jdbcType=VARCHAR},
      tenant_name = #{tenantName,jdbcType=VARCHAR},
      tenant_phone = #{tenantPhone,jdbcType=VARCHAR},
      tenant_card = #{tenantCard,jdbcType=VARCHAR},
      tenant_sex = #{tenantSex,jdbcType=VARCHAR},
      tenant_im_name = #{tenantImName,jdbcType=VARCHAR},
      tenant_im_phone = #{tenantImPhone,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      arrears = #{arrears,jdbcType=VARCHAR},
      arrears_end_time = #{arrearsEndTime,jdbcType=TIMESTAMP},
      contract_type = #{contractType,jdbcType=VARCHAR},
      Uni_bath = #{uniBath,jdbcType=VARCHAR},
      Uni_balcony = #{uniBalcony,jdbcType=VARCHAR},
      Transfer_base_water = #{transferBaseWater,jdbcType=VARCHAR},
      Transfer_base_electricity = #{transferBaseElectricity,jdbcType=VARCHAR},
      Transfer_base_gas = #{transferBaseGas,jdbcType=VARCHAR},
      Transfer_base_ele_high = #{transferBaseEleHigh,jdbcType=VARCHAR},
      Transfer_base_ele_low = #{transferBaseEleLow,jdbcType=VARCHAR},
      Transfer_base_ele_form = #{transferBaseEleForm,jdbcType=VARCHAR},
      Listing_config = #{listingConfig,jdbcType=VARCHAR},
      contract_note = #{contractNote,jdbcType=VARCHAR},
      room_note = #{roomNote,jdbcType=VARCHAR},
      finance_note = #{financeNote,jdbcType=VARCHAR},
      payment_plan = #{paymentPlan,jdbcType=VARCHAR},
      tenant_pic = #{tenantPic,jdbcType=VARCHAR},
      acreage = #{acreage,jdbcType=VARCHAR},
      face = #{face,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByListingId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from room where listing_id = #{listingId,jdbcType=VARCHAR}
        order by id desc

  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from room
        order by id desc

  </select>
  <select id="selectStatusByListingId" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(0) from romm where listing_id = #{listingId,jdbcType=VARCHAR} and status = '空置'
  </select>
</mapper>